footer{
	width: 100%;
	height: 49px;
	padding-bottom: 16px;
	padding: 1em 0;
	background:  #222;
	background: rgb(0, 0, 0, 0.90);
	border-top: 2px solid #DD7137;
	z-index: 2000;
	text-align: center;
	position: absolute; /*Utilizamos 'fixed' para situarlo siempre en el lugar que corresponde*/
	bottom: 0; /*Siempre estará en la parte inferior de la página*/
	margin-top: auto;
}

#Informacion ul li{
	font-family: 'Arial Rounded MT Bold', sans-serif;
}

#Imagen_Paquete{
	position: absolute;
	top: 30%;
	left: 20%;
	width: 350px;
}

#Info_Paquete{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 400px;
	text-align: left;
}

.boton{
	width: 20%;
	color: white;
	background-color: #DD7137;
	border: 2px solid #DD7137;
	padding: .25rem;
	border-radius: .2rem;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.boton:hover{
	background: transparent;
	border: 2px solid #DD7137;
}

#seleccion{
	width: 35px;
	color: white;
	background-color: #494949;
	border: 2px solid white;
	padding: .25rem;
	border-radius: .2rem;
	display: inline-block;
}